<form action="/signup" method="POST">
	<label for="userName"> user name: </label>
	<input type="text" name="userName" >
<br>
	<label for="email">email: </label>
    <input type="email" name="email" >
<br>
	<label for="password">password: </label>
    <input type="password" name="password" >
    <input type="submit"></input>
</form>
<p>{{err}}</p>